@import "tailwindcss";

body{
    scroll-behavior: smooth;
}

.fundo{
    min-height: 100dvh;
    width: 100%;
    background-image: url(../src/assets/images/fundo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: auto;
    
    filter: contrast(110%) brightness(90%);
}